.navbar{
  background-color: #fdf6f0;
}
nav .container-fluid{
  padding-left: 50px;
  padding-right: 50px;
  
}
.navbar-nav {
  gap: 1rem;
}
.navbar-nav .nav-link {
  font-weight: 600;
}
.custom-search {
    width: 250px;
    padding: .5rem;
    border-radius: 5rem;
    /* border: 1px solid rgb(201, 199, 199); */
    font-size: .8rem;
    box-shadow: 0 0 2px #00000012, 0 2px 2px #0000000f, 0 1px 3px #0000001a;
  }
  
  .custom-search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .custom-search-input {
   background-color: transparent;
   outline: none;
   border: none;
   width: 90%;
  }

  
  .custom-search-button {
    width: 10%;
    border: none;
    background-color: transparent;
    text-align: center;
  }
@media  (max-width: 768px)
{
  nav .container-fluid{
    padding-left: 25px;
    padding-right: 25px;
    
  }
    
}
@media  (max-width: 425px)
{
  nav .container-fluid{
    padding-left: 15px;
    padding-right: 15px;
    
  }
    
}
@media  (max-width: 375px)
{
    
    
}