.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #e9f1ff;
  color: #333;
}

.navbar-logo a {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

/* Container for logo */
.logo-design {
  font-family: 'Poppins', sans-serif;
  font-size: 40px; /* Adjust size as needed */
  font-weight: bold;
  background: linear-gradient(45deg, #007BFF, #00D2FF); /* Gradient for vibrant shine */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  display: inline-block;
}

/* Adding the shine effect */
.logo-design::before {
  content: '';
  position: absolute;
  top: 0;
  left: -75%;
  width: 200%;
  height: 100%;
 
  transform: skewX(-15deg);
  transition: all 0.7s ease-in-out;
}

/* Hover effect to increase shine */
.logo-design:hover::before {
  left: 100%;
}

.logo-shadow {
  text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2), 2px 2px 20px rgba(0, 123, 255, 0.7);
}


.navbar-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.navbar-links a {
  color: #333;
  text-decoration: none;
  font-size: 18px;
}

.navbar-links a:hover {
  color: #5b5b5b;
  font-size: 18px;
}

.navbar-links-mobile {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 60px;
  left: 0;
  background-color: #333;
  width: 100%;
  padding: 20px;
  border-top: 1px solid #444;
  display: none;
}

.navbar-login-cart {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style: none;
}

.navbar-login-cart li a {
  color: #333;
  padding: 5px 10px;
  border-radius: 20px;
  border: none;
  outline: none;
  text-decoration: none;
}

.navbar-login-cart li a:hover {
  color: #828283;
}

.cart-icon {
  font-size: 24px;
}

.mobile-menu-icon {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 800px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  display: flex;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-section {
  padding: 12px;
  width: 200px;
}

.dropdown-section h3 {
  font-size: 16px;
  margin-top: 0;
  color: black;
}

.dropdown-section a {
  padding: 8px 0;
  font-size: 14px;
  display: block;
}

.img {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 550px;
  float: right;
  border-radius: 15px;
  margin: 10px;
  gap: 10px;

}

.img img {
  border-radius: 15px;
  height: 300px;
  width: 550px;
}